{
	"extends": ["react-app", "plugin:react-hooks/recommended"],
	"overrides": [
		{
			"files": [
				"**/__tests__/**/*.[jt]s?(x)",
				"**/?(*.)+(spec|test).[jt]s?(x)",
			],
			"extends": [
				"plugin:jest/recommended",
				"plugin:jest/style",
				"plugin:testing-library/react",
			],
			"rules": {
				"testing-library/no-debugging-utils": "warn",
			},
		},
	],
}