.sendInfoContainer {
    display: flex;
    max-width: 777px;
    width: 777px;

    .sendMessageButton {
        background-color: #1671d8;
        border: 1px solid #1671d8;
        border-radius: 0;
    }

    .field {
        padding-left: 10px;
        width: 43%;
    }
}