.sendInfoContainer {
    display: flex;
    justify-content: space-between;
    max-width: 775px;
    width: 775px;

    .sendMessageButton {
        background-color: #1671d8;
        border: 1px solid #1671d8;
        border-radius: 0;
    }
}