.chatRoomTitle {
    text-align: center;
    text-transform: uppercase;
}

.chatRoomContainer {
    display: flex;
    flex-direction: column;
    height: 80vh;
    justify-content: center;
    align-items: center;

    .leftButton {
       background-color: #d81616;
       border: 1px solid #f10f2d;
    }
}